<html lang="eng">

<head>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="/static/index.css" />
</head>

<body>
  <header>
    <a class="logo" href="/">cs-stalker</a>
    <nav>
      <ul>
        <li><a href="https://moon2.tv/">moon</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="content">
      <h1>BANANA</h1>
      <div id="minion">
        <button hx-get="/minion" hx-trigger="click once" hx-target="#minion" hx-swap="outerHTML">ROFL</button>
      </div>
    </div>
  </main>
  <footer><label>© 2024 - finn</label></footer>
</body>

</html>
